<h1>Order successfully submitted!</h1>
<h4>Order #<%= @order.id + 586 %></h4>
<h3>Thanks for purchasing
  <%= @order.carted_products.each do |carted_product| %>
    <%= @order.quantity %>
    <%= @order.product.name %>
  <% end %>
  </h3>
<h4>Subtotal: <%= number_to_currency(@order.subtotal) %></h4>
<h4>Tax: <%= number_to_currency(@order.tax) %></h4>
<h4>Grand total: <%= number_to_currency(@order.total) %></h4>
<p>You'll soon receive an order confirmation at <%= current_user.email %></p>