<div class="container">
<h1>Edit cheese</h1>
<%= form_tag "/products/#{@product.id}", method: :patch do %>
  <div class="form-group">
    <%= label_tag :name %>
    <%= text_field_tag :name, @product.name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :price %>
    <%= text_field_tag :price, @product.price, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :images %>
    <%= text_field_tag :images, @product.images, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :description %>
    <%= text_field_tag :description, @product.description, class: 'form-control' %>
  </div>
  <%= submit_tag "Edit cheesy product", class: 'btn btn-success' %>
<% end %>
<%= form_tag "/products", method: :get do %>
  <%= submit_tag "Cancel", class: 'btn btn-danger' %>
<% end %>
</div>