<table class="table table-hover">
<tr>
  <th><%= @product.name %></th>
  <% if @product.discounted? %>
    <td class="discount-item">Only <%= number_to_currency(@product.price) %>!</td>
    <td>Discount item!</td>
  <% else %>
    <td>Only <%= number_to_currency(@product.price) %>!</td>
    <td>Everyday value!</td>
  <% end %>
  <td>Tax: <%= number_to_currency(@product.tax) %></td>
  <td>Total: <%= number_to_currency(@product.total) %></td>
  <% @product.images.each do |image| %>
    <img src="<%=  image.url %>" alt="<%= @product.name %>" class="img-circle img-responsive">
  <% end %>
  <td><%= @product.description %></td>
</tr>
<tr>
  <td>From the fresh farms of <%= @product.supplier.name %></td>
</tr>
</table>
<div class="btn btn-success">
  <a href="/products/<%= @product.id %>/edit">Edit</a>
</div>
<div class="btn btn-danger">
  <%= link_to "Delete", "/products/#{@product.id}", method: :delete %>
</div>
<div class="btn btn-info">
  <a href="/products">Back to all products</a>
</div>